.editor-styles-wrapper .savvy-list {

  & > .block-editor-inner-blocks {
    gap: inherit;

    & > .block-editor-block-list__layout {
      display: flex;
      flex-flow: column;
      gap: inherit;
    }

    li {

      .block-editor-inner-blocks .block-editor-block-list__layout:empty {
        min-height: 32px;
      }

      &:hover {
        background: #eeeeee;
      }
    }
  }
}
