.editor-styles-wrapper {
  
  .savvy-btn {
    background-color: #eee;
    color : #000;

    &:hover, &:active {
      color: inherit;
    }
  }

  a {
    text-decoration: none;
  }
}

.tabs {

  .active-tab {
      box-shadow: inset 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color)!important;
      color: var(--wp-admin-theme-color);
  }
}
