.wp-block-savvy-blocks-accordion{
    a{
        display: block;
        text-decoration: none;
        color: #000;
        background-color: #d7d7d7;
        margin-bottom: 15px;
        padding: 10px;
    }
}

.accordion-edit-title {
    background-color: #e5e5e5;
}

.accordion-button {
    font-size: inherit;
}